<br>
<div class="position-absolute top-50 start-50 translate-middle">
    <br>
    <br>
    <div class="text-bg-warning p-1 rounded-5" style="max-width: 40rem;">
    <div>    
<h1>Seleccione una opción</h1>
<br>
<div class="position-relative">
<div >
<button class="rounded-5" (click)="buscarUsuario()">Consular Usuario</button>
</div>
<br>

<div >
<button class="rounded-5" (click)="buscarAnuncio()">Consular Anuncio</button>
</div>
<br>
<div>
<button class="rounded-5" (click)="guardarAnuncio()">Crear Anuncio</button>
</div>
<br>
<div>
<button class="rounded-5" (click)="eliminarAnuncio()">Eliminar Anuncio</button>
</div>
<br>
<div>
<button class="rounded-5" (click)="buscarExamen()">Consultar examen</button>
</div>
<br>
<button class="rounded-5" (click)="guardarExamen()">Crear Examen</button>
<br>
<br>
<button class="rounded-5" (click)="buscarLugar()">Consultar Lugar</button>
<br>
<br>
<button class="rounded-5" (click)="guardarLugar()">Crear Lugar</button>
<br>
<br>
<button class="rounded-5" (click)="eliminarLugar()">Eliminar Lugar</button>
<br>
<br>
<button class="rounded-5" (click)="buscarViaje()">Consultar Viaje</button>
<br>
<br>
<button class="rounded-5" (click)="guardarViaje()">Crear Viajes</button>
<br>
<br>
<button class="rounded-5" (click)="buscarReservas()">Consultar Reservas</button>
<br>
<br>
<button class="rounded-5" (click)="guardartipoanuncio()">agregartipoanuncio</button>
</div>
</div>
</div>